<!--
            ==================================================
            Call To Action Section Start
            ================================================== -->
<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">SO WHAT YOU THINK ?</h1>

                        <a href="contact.html" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Contact With Me</a>
                </div>
            </div>

        </div>
    </div>
</section>

<!--
                    ==================================================
                    Footer Section Start
                    ================================================== -->
<footer id="footer">
    <div class="container">
        <div class="row content-justify-between">
            <div class="col-md-8 col-12 text-center text-lg-left text-md-left">
                <a href="/privacy-policy" style="color:#041c3c;">PRIVACY POLICY</a><br>
                <a href="/terms-conditions" style="color:#041c3c;">TERMS AND CONDITIONS</a><br> <a href="/faq" style="color:#041c3c;">FAQ</a><br><a href="/admin_dashboard" style="color:#041c3c;">DASHBOARD LOGIN</a>


            </div>
            <div class="col-md-4 col-12">
                <!-- Social Media -->
                <ul class="social text-center text-md-right text-lg-right">
                    <li>
                        <a href="https://www.facebook.com/thewheelsnation/" class="Facebook">
                            <i class="ion-social-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/thewheelsnation?s=09" class="Twitter">
                            <i class="ion-social-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/thewheelsnation/" class="Linkedin">
                            <i class="ion-social-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/thewheelsnation/?igshid=1xwob9d84pygk" class="Google Plus">
                            <i class="ion-social-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://wa.me/918105003848?text=I%20want%20to%20book%20a%20service" class="Google Plus">
                            <i class="ion-social-whatsapp"></i>
                        </a>
                    </li>


                </ul>
            </div>
        </div>
    </div>
    <!-- <a href='https://www.freepik.com/vectors/abstract'>Abstract vector created by macrovector - www.freepik.com</a> -->
</footer>
<!-- /#footer -->

<!-- Template Javascript Files
            ================================================== -->

<!-- jquery -->
<script src="plugins/jQurey/jquery.min.js"></script>
<!-- Form Validation -->
<script src="plugins/form-validation/jquery.form.js"></script>
<script src="plugins/form-validation/jquery.validate.min.js"></script>
<!-- slick slider -->
<script src="plugins/slick/slick.min.js"></script>
<!-- bootstrap js -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- wow js -->
<script src="plugins/wow-js/wow.min.js"></script>
<!-- slider js -->
<script src="plugins/slider/slider.js"></script>
<!-- Fancybox -->
<script src="plugins/facncybox/jquery.fancybox.js"></script>
<!-- template main js -->
<script src="js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="js/index.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">
    $('.vidhi').owlCarousel({
        loop: true,
        margin: 50,
        autoplay: true,
        autoplayTimeout: 7000,
        stagePadding: 50,
        nav: false,
        adaptiveHeight: true,
        loop: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 3
            }
        }
    })
</script>
<script type="text/javascript">
    $('.brand').owlCarousel({
        loop: true,
        margin: 80,
        autoplay: true,
        autoplayTimeout: 7000,
        stagePadding: 50,
        nav: false,
        adaptiveHeight: true,
        loop: true,
        responsive: {
            0: {
                items: 2
            },
            600: {
                items: 4
            },
            1000: {
                items: 7
            }
        }
    })
</script>
<script type="text/javascript">
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 20,
        autoplay: true,
        autoplayTimeout: 2000,
        nav: true,
        stagePadding: 50,
        loop: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 4
            }
        }
    })
</script>
<script>
    var preloader = document.getElementById("loading");
    // window.addEventListener('load', function(){
    // preloader.style.display = 'none';
    // })

    function myFunction() {
        preloader.style.display = 'none';
    };
</script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script>
    var x = document.getElementById("demo");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        x.innerHTML = "Latitude: " + position.coords.latitude +
            "<br>Longitude: " + position.coords.longitude;
    }

    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                x.innerHTML = "User denied the request for Geolocation."
                break;
            case error.POSITION_UNAVAILABLE:
                x.innerHTML = "Location information is unavailable."
                break;
            case error.TIMEOUT:
                x.innerHTML = "The request to get user location timed out."
                break;
            case error.UNKNOWN_ERROR:
                x.innerHTML = "An unknown error occurred."
                break;
        }
    }
</script>
<script>
    var slideIndex = 1;
    var slides = $('.card');
    buildBullets();
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var bullets = $('.s-bullet');

        if (n > slides.length) {
            slideIndex = 1;
        }
        if (n < 1) {
            slideIndex = slides.length;
        }

        for (var i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }

        for (var i = 0; i < bullets.length; i++) {
            bullets[i].className = bullets[i].className.replace(" b-active", "");
        }

        bullets[slideIndex - 1].className += " b-active";
        slides[slideIndex - 1].style.display = "block";
    }

    function buildBullets() {
        for (var i = 1; i <= slides.length; i++) {
            $('.slide-bullets').append('<div class="s-bullet" onclick="currentSlide(' + i + ')"></div>');
        }
    }
</script>
<script>
    const popup = document.querySelector('.full-screen');

    function showPopup() {
        popup.classList.remove('hidden');
    }

    function closePopup() {
        popup.classList.add('hidden');
    }
</script>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    $('#formid input[required]').on('input propertychange paste change', function() {

        var empty = $('#formid').find('input[required]').filter(function() {
            return this.value == '';
        });

        $('#formsubmit').prop('disabled', (empty.length))

    })
</script>
<script>
    window.watsonAssistantChatOptions = {
        integrationID: "eed188a5-137a-47d3-9521-cb3fdfd168b1", // The ID of this integration.
        region: "eu-gb", // The region your integration is hosted in.
        serviceInstanceID: "c4692c26-1413-4079-9ff1-3000134edce2", // The ID of your service instance.
        onLoad: function(instance) {
            instance.render();
        }
    };
    setTimeout(function() {
        const t = document.createElement('script');
        t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js"
        document.head.appendChild(t);
    });
</script>

</body>

</html>