<!-- include header -->
<%- include('includes/_header') %>
    <!-- /include header -->
    <!--
        ==================================================
            Global Page Section Start
        ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>About Company</h2>
                        <ol class="breadcrumb list-inline text-center">
                            <li class="list-inline-item">
                                <a href="/">
                                    <i class="ion-ios-home"></i> Home &nbsp; &nbsp;/
                                </a>
                            </li>
                            <li class="active list-inline-item">About</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
==================================================
    Company Description Section Start
================================================== -->
    <section class="company-description">
        <div class="container">
            <div class="row" style="flex-direction: column; align-items: center; justify-content: center;">
                <div class="col-md-6 wow fadeInLeft maxwidthabout" data-wow-delay=".3s">
                    <img src="img/about/about-company.jpg" style=" border-radius: 25px;" alt="" class="img-fluid">
                </div>
                <div class="col-md-6" style="max-width: 77%;">
                    <div class="block">

                        <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms" style="text-align: center; margin: 20px;">ABOUT US</h3>
                        <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">


                            <p style="text-align: center; font-size: larger;">
                                We started The Wheels Nation (TWN) to change the auto service industry. Our ultimate goal is to connect customers with the best auto repair shops which are pre verified and also provides free pick up and drop service.
                                <br>
                                <b>  We’re good at fixing your vehicle !!</b>
                            </p>


                            <P style="text-align: center; font-size: larger;"> <br> Our amazing network of mechanics can make your day a whole lot better. Your vehicle will love to be with us, and we will make sure that there is nothing else which can make you and your vehicle feel much safer.</p>
                            <p style="text-align: center; font-size: larger;"> Our amazing and talented sellers are waiting on the other side for you to book an appointment And guess what? Booking a service for your vehicle was never been this easy – it hardly takes a minute and leave everything on us</p>


                            <h5 style="text-align: center; font-weight: bold;">Now getting your vehicle fixed is made easy like never before</h5>
                            <p class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">

                            </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br><br>
    <div class="section-heading">
        <h1 class="title wow fadeInDown" data-wow-delay=".3s">brands we service</h1>

    </div>
    <section>
        <div class="brand owl-carousel owl-theme">
            <div>
                <img src="img/honda.png" style="background-color:white;height:100px;">
            </div>
            <div>
                <img src="img/ktm.png" style="background-color:white;height:100px;">
            </div>
            <div>
                <img src="img/re.png" style="background-color:white;height:100px;">
            </div>
            <div>
                <img src="img/suzuki.png" style="background-color:white;height:100px;">
            </div>
            <div>
                <img src="img/hero.png" style="background-color:white;height:100px;">
            </div>

            <div>
                <img src="img/bajaj.png" style="background-color:white;height:100px;">
            </div>
            <div>
                <img src="img/yamaha.png" style="background-color:white;height:100px;">
            </div>
            <div>
                <img src="img/mahindra.png" style="background-color:white;height:100px;">
            </div>
            <div>
                <img src="img/harley.png" style="background-color:white;height:100px;">
            </div>

        </div>

    </section>
    <br><br>


    <!--
==================================================
    Company Feature Section Start
================================================== -->
    <br>
    <!--
    ==================================================
        Clients Section Start
    ================================================== -->






    <br><br><br>


    <!-- include footer -->
    <%- include('includes/_footer') %>
        <!-- /include footer -->