<!-- include header -->
<%- include('includes/_header') %>
    <!-- /include header -->




        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>FAQ</h2>
                            <ol class="breadcrumb list-inline text-center">
                                <li class="list-inline-item">
                                    <a href="/index">
                                        <i class="ion-ios-home"></i> Home &nbsp; &nbsp;/
                                    </a>
                                </li>
                                <li class="active list-inline-item">FAQ</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>




            <!--
        ==================================================
            Service Page Section  Start
        ================================================== -->
            <section id="service-page" class="pages service-page">
                <div class="container">
                    <div class="row">

                    </div>
                    <div class="row">
                        <div class="col-lg-6 order-2 order-lg-1">
                            <div class="block">
                                <div class="row service-parts">
                                    <a href="service.html" ><img src="IMG/faq.GIF" style="width:320px;" ></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 order-2 order-lg-1">
                            <div class="block">
                                <div class="row service-parts">
                                  <div class="col-md-6">
                                      <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">

                                          <button type="button" class="collapsible">In case of cancellation of the service will there be a refund?</button>
                                          <div class="content">
                                              <p>Refund is subjective. Under conditions of cancellation due to certain factors from the
    technician side, the complete amount shall be refunded at the earliest possible. Although, if
    the customer willingly does not avail the services then our organization do
    esn’t guarantee
    the return of money. Our team follows no refund policy but we assure that we shall be
    considerate under whichever conditions possible.</p>
                                          </div>
                                      </div>
                                  </div>  <div class="col-md-6">
                                        <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">

                                            <button type="button" class="collapsible">How long will it take for the technician to reach the location?</button>
                                            <div class="content">
                                                <p>This solely depends on the location cho
    sen by the customer. We start working on your
    services as soon as we are directed by the system. Depending on various factors such as
    traffic, climatic conditions, accidents, personal emergencies may cause a certain type of
    delay</p>
                                            </div>
                                        </div>
                                    </div>  <div class="col-md-6">
                                          <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">

                                              <button type="button" class="collapsible">Do we have to pay any a
    mounts to the technicians?<br><p></p></button>
                                              <div class="content">
                                                  <p>The labor charges are covered under the total bill. All payments are to be made online,
    directly to the organization. We do not encourage any kind of tips to our technicians</p>
                                              </div>
                                          </div>
                                      </div>  <div class="col-md-6">
                                            <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">

                                                <button type="button" class="collapsible">Are the charges of the replaced parts
    of the bike in
    cluded in the total bill?</button>
                                                <div class="content">
                                                    <p>An invoice shall be generated on the basis of the packages and service that the customer
    avails. Detailed information of all the parts and machinery used for the same shall be
    mentioned in the bill</p>
                                                </div>
                                            </div>
                                        </div>



                                    <div class="col-md-6">
                                        <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">

                                            <button type="button" class="collapsible">Can we postpone a servicing date?<br><p></p></button>
                                            <div class="content">
                                                <p>We do not guarantee the availability of our service before
    -
    hand. We can try to fix an
    appointment but are under no obligation to provide the service according to an prior
    commitment.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">

                                            <button type="button" class="collapsible">What if we aren’t happy with the service?<br><p></p></button>
                                            <div class="content">
                                                <p>The feedback form is ava
    ilable on the website which enables you as a customer to update us
    with any sorts of grievances, suggestions or complaints. Our team does not assure any sort
    of financial return or refund related to the complaints. We will try our best to
    rectify as
    much a
    s possible but hold no obligation to answer to any and every query that comes our
    way.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>









        <!-- include footer -->
        <%- include('includes/_footer') %>
            <!-- /include footer -->
