<!-- include header -->
<%- include('includes/_header') %>
    <!-- /include header -->






  <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Privacy Policy</h2>
                        <ol class="breadcrumb list-inline text-center">
                            <li class="list-inline-item">
                                <a href="index.html">
                                    <i class="ion-ios-home"></i> Home &nbsp; &nbsp;/
                                </a>
                            </li>
                            <li class="active list-inline-item">Privacy Policy</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="single-post">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <div class="post-content">

            
              <!-- wp:paragraph -->
              <p>We hold the privacy of customers as one of our topmost priorities. This Privacy Policy contains types of information that is collected and recorded by wheels nation and how we use it.</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>Customers are free and more thanwelcome to question or come forward with anydoubts regarding the same.</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>This Policy applies only to our online services and is valid for visitors to our website withregards to the information that they shared and/or collect in wheelsnation. By using ourwebsite, you hereby consent to our Privacy Policy and agree to its terms.</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>Visit the Terms and Conditions part for browsing through them.</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p><strong>PERSONAL INFORMATION</strong></p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>The reasons for asking personal information will be made clear to you at the point weask you toprovide your personal information.If you contact us directly, we may receive additional information about you such as yourname, email address, phone number, the contents of the message and/or attachmentsyou may send us, and any other information you may choose to provide.When you register for an Account, we may ask for your contact information, includingitems such as name, company name, address, email address, and telephone number.</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p><strong>INFORMATION USAGE</strong></p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>Your information helps in the following:</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>•To provide, operate, and maintain our webste</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>•To improve, personalize, customize and expand our website</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>•To understand and analyze how you use our webste</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>•To develop new products, services, features, and functionality</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>•To communicate with you, to provideyou with updates and other information relatingto the website, and for marketing and promotional purposes</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>•To send you emails</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>•To find and prevent fraud</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p><strong>LOG FILES</strong></p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>wheelsnation follows a standard procedure of using log files. These files log visitorswhen they visit websites. All hosting companies do this and a part of hosting services'analytics. The information collected by log files include internet protocol (IP) addresses,browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages,and possibly the number of clicks. These are not linked to any information that ispersonally identifiable. The purpose of the information is for analyzing trends,administering the site, tracking users' movement on the website, and gatheringdemographic information.</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p><strong>ADVERTISING PARTNERS</strong> <strong>PRIVACY POLICIES</strong></p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p> You may consult this list to find the Privacy Policy for each of the advertising partners ofwheelsnation.</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p></p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, orWeb Beacons that are used in their respective advertisements and links that appear onwheelsnation, which are sent directly to users' browser. There is an automated systemthat receives your IP address when this occurs. These technologies are used tomeasure the effectiveness of their advertising campaigns and/or to personalize theadvertising content that you see on websites that you visit.</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p><strong>COOKIES</strong></p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>Note that wheelsnationhas no access to or control over these cookies that are used bythird-party advertisers.</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>You can choose to disable cookies through your individual browser options. To knowmore detailed information about cookie management with specific web browsers, it canbe found at the browsers' respective websites.</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p><strong>THIRD PARTY PRIVACY POLICIES</strong></p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>wheelsnation's Privacy Policy does not apply to other advertisers or websites. Thus, weare advising you to consult the respective Privacy Policies of these third-party adservers for more detailed information. It may include their practices and instructionsabout how to opt-out of certain options.</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p><strong>CCPA PRIVACY RIGHTS (DO NOT SELL MY PERSONAL INFORMATION)</strong></p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>Under the CCPA, among other rights, California consumers have the rightto:</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>•Request that a business that collects a consumer's personal data disclose thecategories and specific pieces of personal data if and when required.</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>•Request that a business delete any personal data about the consumer that abusiness has collected.</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>•Request that a business that sells a consumer's personal data, not sell theconsumer's personal data.</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>If you make a request, we have one month to respond to you. If you would like toexercise any of these rights, please contact us.</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p><strong>DATA PROTECTION RIGHTS</strong></p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>We would like to make sure you are fully aware of all of your data protection rights.Every user is entitled to the following:</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>•The right to access–You have the right to request copies of your personal data. Wemay charge you a small fee for thisservice.</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>•The right to rectification–You have the right to request that we correct anyinformation you believe is inaccurate. You also have the right to request that wecomplete the information you believe is incomplete.</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>•The right to erasure–You have the right to request that we erase your personal data </p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>under certain conditions.</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>•The right to restrict processing–You have the right to request that we restrict theprocessing of your personal data, under certain conditions.</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>•The right to object to processing–You have the right to object to our processing ofyour personal data, under certain conditions.</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>•The right to data portability–You have the right to request that we transfer the datathat we have collected to another organization, or directly to you, under certainconditions.</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>•If you make a request, we have one month to respond to you. If you would like toexercise any of these rights, please contact us.</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>Wheelsnation does not knowingly collect any Personal Identifiable Information fromchildren under the age of 18. If you think that your child provided this kind of informationon our website, we strongly encourage you to contact us immediately and we will do ourbest efforts to promptly remove such information from our records.</p>
              <!-- /wp:paragraph -->

              <!-- wp:paragraph -->
              <p>Our company believes in working in a safe and secure environment. We take utmostcare of the data provided to us and we shall strive to protect and utilize it for the good.</p>
              <!-- /wp:paragraph -->





          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
      </div>
    </section>





    <!-- include header -->
    <%- include('includes/_footer') %>
        <!-- /include header -->
