<!-- include header -->
<%- include('includes/_header') %>
    <!-- /include header -->

    <!--
        ==================================================
            Global Page Section Start
        ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Service For 4 Wheelers</h2>
                        <ol class="breadcrumb list-inline text-center">
                            <li class="list-inline-item">
                                <a href="index.html">
                                    <i class="ion-ios-home"></i> Home &nbsp; &nbsp;/
                                </a>
                            </li>
                            <li class="active list-inline-item">Service</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

              <section class="company-description">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s">
                              <img src="img/44.jpg" style=" border-radius: 25px;padding-top:10%;" alt="" class="img-fluid">
                          </div>
                          <div class="col-md-6">
                              <div class="block">
                                  <br><h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms" STYLE="text-align:center;font-size:40px;padding-top:20%;">COMING SOON !!!</h3>
<br><br><br>
                                  <p class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">

                                  </p>

                              </div>
                          </div>
                      </div>
                  </div>
              </section>













    <!-- include footer -->
    <%- include('includes/_footer') %>
        <!-- /include footer -->
