<!-- include header -->
<%- include('includes/_header') %>
    <!-- /include header -->


    <!--
        ==================================================
            Global Page Section Start
        ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Service For 2 Wheelers</h2>
                        <ol class="breadcrumb list-inline text-center">
                            <li class="list-inline-item">
                                <a href="/">
                                    <i class="ion-ios-home"></i> Home &nbsp; &nbsp;/
                                </a>
                            </li>
                            <li class="active list-inline-item">Service</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <br>
    <!--
==================================================
    Service Page Section  Start
================================================== --><br>
    <section class="about-feature about-feature-new clearfix">
        <div class="container-fluid">
            <div class="row row-new">
                <div class="col-lg-4 col-lg-4-new px-0">
                    <div class="block block-new about-feature-3-new wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s" style="width:100%;">

                        <div class="service_logo">
                            <img src="img/demo.jpg" alt="" style="width: 150px;height:150px; border-radius: 50%; ">
                        </div>
                        <h2 style="text-align: center;">
                            GENERAL SERVICE
                            <br>
                            <span style="font-size: medium;">(BELOW 150 CC )</span>
                        </h2>

                        <div class="service_btn">
                            <a href="/services_provider_list?service=GENERAL SERVICE : (BELOW 150 CC )"> <button class="btnn" style="width:50%;">Select</button><button class="btns" style="width:45%;height:40px;border:none;font-size:18px;padding-left:5px;">Rs 549/-</button></a>
                            <button class="btnn " id="myBtn ">Service Details</button>

                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-lg-4-new px-0 ">
                    <div class="block block-new about-feature-2-new wow fadeInDown " data-wow-duration="500ms " data-wow-delay=".5s " style="width:100%; ">

                        <div class="service_logo ">
                            <img src="img/demo2.jpg " alt=" " style="width: 150px;height:150px; border-radius: 50%; ">
                        </div>

                        <h2 style="text-align: center; ">
                            PREMIUM SERVICE
                            <br>
                            <span style="font-size: medium; ">( BETWEEN 150 CC – 250 CC )</span>
                        </h2>
                        <div class="service_btn ">
                            <a href="/services_provider_list?service=GENERAL PREMIUM SERVICE : ( BETWEEN 150 CC – 250 CC ) "><button class="btnn " style="width:50%; " >Select</button><button class="btns " style="width:45%;height:40px;border:none;font-size:18px;padding-left:5px; " >Rs 899/-</button></a>

                            <button id="myBtn1 " class="btnn ">Service Details</button>

                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-lg-4-new px-0 ">
                    <div class="block block-new about-feature-3-new wow fadeInDown " data-wow-duration="500ms " data-wow-delay=".7s " style="width:100%; ">

                        <div class="service_logo ">
                            <img src="img/demo3.jpg " alt=" " style="width: 150px;height:150px; border-radius: 50%; ">
                        </div>
                        <h2 style="text-align: center; ">
                            PRO SERVICE
                            <br>
                            <span style="font-size: medium; ">( BETWEEN 250CC – 350CC )</span>
                        </h2>
                        <div class="service_btn ">
                            <a href="/services_provider_list?service=GENERAL PRO SERVICE : ( BETWEEN 250CC – 350CC ) "><button class="btnn " style="width:50%; " >Select</button><button class="btns " style="width:45%;height:40px;border:none;font-size:18px;padding-left:5px; " >Rs 949/-</button></a>
                            <button class="btnn " id="myBtn2 ">Service Details</button>

                        </div>

                    </div>
                </div>


                <div class="col-lg-4 col-lg-4-new px-0 ">
                    <div class="block block-new about-feature-2-new wow fadeInDown " data-wow-duration="500ms " data-wow-delay=".5s " style="width:100%; ">
                        <div class="service_logo ">
                            <img src="img/demooil.jpg " alt=" " style="width: 150px;height:150px; border-radius: 50%; ">
                        </div>
                        <h2 style="text-align: center; ">
                            ENGINE OIL CHANGE

                        </h2>
                        <br>
                        <div class="service_btn ">
                            <a href="/services_provider_list?service=ENGINE OIL CHANGE "><button class="btnn " style="width:50%; " >Select</button><button class="btns " style="width:45%;height:40px;border:none;font-size:18px;padding-left:5px; " >Rs 949/-</button></a>

                            <button class="btnn " id="myBtn3 ">Service Details</button>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-4-new px-0 ">
                    <div class="block block-new about-feature-2-new wow fadeInDown " data-wow-duration="500ms " data-wow-delay=".7s " style="width:100%; ">
                        <div class="service_logo ">
                            <img src="img/demoty.jpg " alt=" " style="width: 150px;height:150px; border-radius: 50%; ">
                        </div>
                        <h2 style="text-align: center; ">
                            TYRE PUNCTURE
                        </h2>
                        <div class="service_btn ">
                            <a href="/services_provider_list?service=TYRE PUNCTURE "><button class="btnn " style="width:50%; " >Select</button><button class="btns " style="width:45%;height:40px;border:none;font-size:18px;padding-left:5px; " >Rs 549/-</button></a>
                            <button class="btnn " id="myBtn4 ">Service Details</button>



                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-lg-4-new px-0 ">
                    <div class="block block-new wow fadeInDown " data-wow-duration="500ms " data-wow-delay=".3s " style="width:100%; ">
                        <div class="service_logo ">
                            <img src="img/demow.jpg " alt=" " style="width: 150px;height:150px; border-radius: 50%; ">
                        </div>
                        <h2 style="text-align: center; ">
                            ENGINE SERVICE
                        </h2>
                        <div class="service_btn ">
                            <a href="/services_provider_list?service=ENGINE SERVICE "><button class="btnn " style="width:50%; " >Select</button><button class="btns " style="width:45%;height:40px;border:none;font-size:18px;padding-left:5px; " >Rs 949/-</button></a>

                            <button class="btnn " id="myBtn5 ">Service Details</button>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-4-new px-0 ">
                    <div class="block block-new about-feature-2-new wow fadeInDown " data-wow-duration="500ms " data-wow-delay=".7s " style="width:100%; ">
                        <div class="service_logo ">
                            <img src="img/democust.jpg " alt=" " style="width: 150px;height:150px; border-radius: 50%; ">
                        </div>
                        <h2 style="text-align: center; ">
                            CUSTOMISED SERVICE
                        </h2>
                        <div class="service_btn ">
                            <a href="/custom "><button class="btnn " style="width:50%; " >Select</button><button class="btns " style="width:45%;height:40px;border:none;font-size:18px;padding-left:5px; " >Rs 549/-</button></a>
                            <button class="btnn " id="myBtn6 ">Service Details</button>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-4-new px-0 ">
                    <div class="block block-new wow fadeInDown " data-wow-duration="500ms " data-wow-delay=".3s " style="width:100%; ">
                        <div class="service_logo ">
                            <img src="img/demop.jpg " alt=" " style="width: 150px;height:150px; border-radius: 50%; ">
                        </div>
                        <h2 style="text-align: center; ">
                            PAINTING
                        </h2>
                        <div class="service_btn ">
                            <a href="/services_provider_list?service=PAINTING "><button class="btnn " style="width:50%; " >Select</button><button class="btns " style="width:45%;height:40px;border:none;font-size:18px;padding-left:5px; " >Rs 549/-</button></a>

                            <button class="btnn " id="myBtn7 ">Service Details</button>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <div id="myModal " class="modal ">

        <!-- Modal content -->
        <div class="modal-content ">
            <div class="modal-header ">
                GENERAL SERVICE : ( BELOW 150 CC )
                <span class="close " onclick="document.getElementById( 'myModal').style.display='none' ">&times;</span>

            </div>
            <div class="modal-body ">
                <p><b>1. ENGINE OIL</b> - check level and condition if required drain and replace <br><b>2.
AIR FILTER</b> - Check and clean air filter <br><b> 3. GEAR OIL</b> - Check level and condition If required top- up <br><b> 4. BRAKE FLUID </b>- Check level and condition If required top-up <br><b> 5.
GREASE </b>- Levers Clean and apply grease <br><b>6. FUEL FILTER </b>- Check and clean for the free flow of petrol , if required <br> <b>7. SPARK PLUG </b>- Clean and check condition, gap and adjust if neccessary <br> <b>8. CARBURETTOR </b>- Basic cleaning
                    ,check idle speed and choke lever operation <br><b> 9. BRAKES </b>- Check both front and rear, adjust if required <br><b> 10. CLUTCH </b>- Check tightness and oiling if neccessary <br><b> 11. CHAIN </b>- Clean and check chain slack
                    and lubricate if neccessary <br><b> 12. NUTS AND BOLTS </b>- Tightening and replacement of nuts and bolts if required <br><b>13. CONTROL CABELS </b>- Basic operation of clutch, throttle and front brake readjust, replace if required
                    <br><b>14. ELECTRICALS </b>- Check head, tail, parking bulbs, horns and indicators <br><b>15. VIBRATION</b> - Feel for any unusual vibration in the Bikes <br><b>16 BREAK
LINER</b> - Check thickness and condition <br><b>17. OIL FILTER </b>- Check ,clean or replace if required <br><b> 18. STEARING PLAY </b>- Check and adjust fork cone set if required</p>

            </div>
            <div class="modal-footer ">
                <br>
            </div>
        </div>

    </div>

    <div id="myModal1 " class="modal ">

        <!-- Modal content -->
        <div class="modal-content ">
            <div class="modal-header ">
                GENERAL PREMIUM SERVICE : ( BETWEEN 150 CC – 250 CC )
                <span class="close " onclick="document.getElementById( 'myModal1').style.display='none' ">&times;</span>

            </div>
            <div class="modal-body ">
                <p><b>1. ENGINE OIL</b> - Change. (Oil Charges extra at MRP ) <br><b>2.
AIR FILTER</b> - Basic Cleaning. <br><b>3. FUEL FILTER </b>- Basic Cleaning and Check for free flow of petrol, if necessary. <br> <b>4. SPARK PLUG </b>- Clean and check condition, gap and adjust if neccessary <br> <b>5. CARBURETTOR </b>- Basic cleaning
                    ,check idle speed and choke lever operation <br><b> 6. BRAKE FRONT AND REAR </b>- Check both front and rear, adjust if required <br><b> 7. CLUTCH </b>- Check tightness and oiling if necessary. <br><b> 8. DRIVE CHAIN </b>- Basic Cleaning,
                    Check chain slack and lubrication. <br><b> 9. NUTS AND BOLTS </b>- Tightening and replacement of nuts and bolts if required <br><b> 10. COOLANT </b>- Top up if necessary. <br><b>11. CONTROL CABELS </b>- Basic operation of clutch, throttle
                    and front brake readjust, replace if required<br><b>12. SANITIZATION </b>- Bike sanitization process.
                    <br><b>13. ELECTRICALS </b>- Check head, tail, parking bulbs, horns and indicators <br><b> 14. TEST RIDE </b>- Test ride after service</p>

            </div>
            <div class="modal-footer ">
                <br>
            </div>
        </div>

    </div>

    <div id="myModal2 " class="modal ">

        <!-- Modal content -->
        <div class="modal-content ">
            <div class="modal-header ">
                GENERAL PRO SERVICE : ( BETWEEN 250CC – 350CC )
                <span class="close " onclick="document.getElementById( 'myModal2').style.display='none' ">&times;</span>

            </div>
            <div class="modal-body ">
                <p><b>1. ENGINE OIL</b> - check level and condition if required drain and replace <br><b>2.
AIR FILTER</b> - Check and clean air filter <br><b> 3. GEAR OIL</b> - Check level and condition If required top- up <br><b> 4. BRAKE FLUID </b>- Check level and condition If required top-up <br><b> 5.
GREASE </b>- Levers Clean and apply grease <br><b>6. FUEL FILTER </b>- Check and clean for the free flow of petrol , if required <br> <b>7. SPARK PLUG </b>- Clean and check condition, gap and adjust if neccessary <br> <b>8. CARBURETTOR </b>- Basic cleaning
                    ,check idle speed and choke lever operation <br><b> 9. BRAKES </b>- Check both front and rear, adjust if required <br><b> 10. CLUTCH </b>- Check tightness and oiling if neccessary <br><b> 11. CHAIN </b>- Clean and check chain slack
                    and lubricate if neccessary <br><b> 12. NUTS AND BOLTS </b>- Tightening and replacement of nuts and bolts if required <br><b>13. CONTROL CABELS </b>- Basic operation of clutch, throttle and front brake readjust, replace if required
                    <br><b>14. ELECTRICALS </b>- Check head, tail, parking bulbs, horns and indicators <br><b>15. VIBRATION</b> - Feel for any unusual vibration in the Bikes <br><b>16 BREAK
LINER</b> - Check thickness and condition <br><b>17. OIL FILTER </b>- Check ,clean or replace if required <br><b> 18. STEARING PLAY </b>- Check and adjust fork cone set if required</p>

            </div>
            <div class="modal-footer ">
                <br>
            </div>
        </div>

    </div>
    <div id="myModal3 " class="modal ">

        <!-- Modal content -->
        <div class="modal-content ">
            <div class="modal-header ">
                ENGINE OIL CHANGE :
                <span class="close " onclick="document.getElementById( 'myModal3').style.display='none' ">&times;</span>

            </div>
            <div class="modal-body ">
                <br>
                <p><b>ENGINE OIL CHANGE</b> -Complete engile oil replacement , manufacturer recommended grade of oil will used for a smooth ride<br> - Oil filter change for a free flow of oil to engine <br><b>
            </div>
            <div class="modal-footer ">
                <br>
            </div>
        </div>

    </div>
    <div id="myModal4 " class="modal ">

        <!-- Modal content -->
        <div class="modal-content ">
            <div class="modal-header ">
                TYRE PUNCTURE :
                <span class="close " onclick="document.getElementById( 'myModal4').style.display='none' ">&times;</span>

            </div>
            <div class="modal-body ">
                <br>
                <p><b>TYRE PUNCTURE</b> - Flat tyre assistance available at your location <br>
            </div>
            <div class="modal-footer ">
                <br>
            </div>
        </div>

    </div>
    <div id="myModal5 " class="modal ">

        <!-- Modal content -->
        <div class="modal-content ">
            <div class="modal-header ">
                ENGINE SERVICE :
                <span class="close " onclick="document.getElementById( 'myModal5').style.display='none' ">&times;</span>

            </div>
            <div class="modal-body ">
                <br>
                <p><b>ENGINE SERVICE</b> - Complete washing care for a shining look . <br>

            </div>
            <div class="modal-footer ">
                <br>
            </div>
        </div>

    </div>
    <div id="myModal6 " class="modal ">

        <!-- Modal content -->
        <div class="modal-content ">
            <div class="modal-header ">
                CUSTOMISED SERVICE
                <span class="close " onclick="document.getElementById( 'myModal6').style.display='none' ">&times;</span>

            </div>
            <div class="modal-body ">
                <br>
                <p><b>CUSTOMISED SERVICE</b> - Tell us what is wrong with your bike or if you want to get any particular service done. we will revert you back with the best price and a quality work. <br>
            </div>
            <div class="modal-footer ">
                <br>
            </div>
        </div>

    </div>
    <div id="myModal7 " class="modal ">

        <!-- Modal content -->
        <div class="modal-content ">
            <div class="modal-header ">
                PAINTING
                <span class="close " onclick="document.getElementById( 'myModal7').style.display='none' ">&times;</span>

            </div>
            <div class="modal-body ">
                <br>
                <p><b>PAINTING</b> - Best painting service using top quality paints from our hands on experienced technicians<br>
            </div>
            <div class="modal-footer ">
                <br>
            </div>
        </div>

    </div>
    <div id="myModal8 " class="modal ">

        <!-- Modal content -->
        <div class="modal-content ">
            <div class="modal-header ">
                CUSTOMISED SERVICE
                <span class="close " onclick="document.getElementById( 'myModal8').style.display='none' ">&times;</span>

            </div>
            <div class="modal-body ">
                <br>
                <p><b>CUSTOMISED SERVICE</b> - Tell us what is wrong with your bike or if you want to get any particular service done. we will revert you back with the best price and a quality work. <br>
            </div>
            <div class="modal-footer ">
                <br>
            </div>
        </div>

    </div>






    <script>
        // Get the modal
        var modal = document.getElementById("myModal ");
        var modal1 = document.getElementById("myModal1 ");
        var modal2 = document.getElementById("myModal2 ");
        var modal3 = document.getElementById("myModal3 ");
        var modal4 = document.getElementById("myModal4 ");
        var modal5 = document.getElementById("myModal5 ");
        var modal6 = document.getElementById("myModal6 ");
        var modal7 = document.getElementById("myModal7 ");
        var modal8 = document.getElementById("myModal8 ");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn ");
        var btn1 = document.getElementById("myBtn1 ");
        var btn2 = document.getElementById("myBtn2 ");
        var btn3 = document.getElementById("myBtn3 ");
        var btn4 = document.getElementById("myBtn4 ");
        var btn5 = document.getElementById("myBtn5 ");
        var btn6 = document.getElementById("myBtn6 ");
        var btn7 = document.getElementById("myBtn7 ");
        var btn8 = document.getElementById("myBtn8 ");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close ")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block ";
        }
        btn1.onclick = function() {
            modal1.style.display = "block ";
        }
        btn2.onclick = function() {
            modal2.style.display = "block ";
        }
        btn3.onclick = function() {
            modal3.style.display = "block ";
        }

        btn4.onclick = function() {
            modal4.style.display = "block ";
        }

        btn5.onclick = function() {
            modal5.style.display = "block ";
        }

        btn6.onclick = function() {
            modal6.style.display = "block ";
        }
        btn7.onclick = function() {
            modal7.style.display = "block ";
        }
        btn8.onclick = function() {
            modal8.style.display = "block ";
        }






        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none ";
            modal1.style.display = "none ";
            modal2.style.display = "none ";
        }
        span.onclick = function() {

            modal1.style.display = "none ";

        }

        span.onclick = function() {

            modal2.style.display = "none ";
        }


        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target === modal) {
                modal.style.display = "none ";

            }
            if (event.target == modal1) {
                modal1.style.display = "none ";

            }
            if (event.target == modal2) {
                modal2.style.display = "none ";

            }
            if (event.target == modal3) {
                modal3.style.display = "none ";

            }
            if (event.target == modal4) {
                modal4.style.display = "none ";

            }
            if (event.target == modal5) {
                modal5.style.display = "none ";

            }
            if (event.target == modal6) {
                modal6.style.display = "none ";

            }
            if (event.target == modal7) {
                modal7.style.display = "none ";

            }
            if (event.target == modal8) {
                modal8.style.display = "none ";

            }
        }
    </script>






    <!-- include footer -->
    <%- include('includes/_footer') %>
        <!-- /include footer -->