<!-- include header -->
<%- include('includes/_header') %>
    <!-- /include header -->



    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Terms and Conditions</h2>
                        <ol class="breadcrumb list-inline text-center">
                            <li class="list-inline-item">
                                <a href="index.html">
                                    <i class="ion-ios-home"></i> Home &nbsp; &nbsp;/
                                </a>
                            </li>
                            <li class="active list-inline-item">Terms and Conditions</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <section class="single-post">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <div class="post-content">
              <!-- wp:paragraph -->
    <p><strong>a)Overview</strong></p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p>The Wheels Nation is a bike-servicing, repair and maintenance service. The terms such as 'we’ ‘our’ ‘us’ or ‘team’ refers to our company. The organization strictly adheres to the terms and conditions and expects each of the customers to do the same. We hold all the rights to change, edit, update, and replace the terms and conditions at our will and our time. The updated version shall be communicated to all our customers via the website. It is the user's duty to check this space repeatedly for any changes in the description. These terms are applicable to all our users irrespective of gender, creed, caste, job status or the position in the sales cycle. If at all any of the customers disagree to the Terms and Conditions they donot hold any right to avail our services. </p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p><strong>b)Products &amp; Pricing </strong></p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p>The pre-curated packages of servicing are a subject to change according to the customer demand and company strategies. We hold no justification of any sorts to anyone in case of editing the prices or the components of a package. The customized version is a completely creative space for the customers but it is the organization’s right to deny any of the demands in case of unavailability of resources, manpower or any other reasons. The increased or lowered prices shall be updated on the website. We do not encourage any sort of bribe, commission, loans with regard to our products. Clear communication of costing is promoted at TWN. </p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p><strong>c)Billing</strong></p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p>The company is subjected to additional taxes or any other offers with respect to the final bill amount. The company holds all the right to deny a specific type of payment mode if and when necessary. There are no personal transactions aided in our company. We hold all the rights to deny or edit the demands of customer. This change shall be notified via email or any other contact provided. Customers are obligated to put in the accurate and authentic information regarding the credit, debit, mobile payment services. Any sort of malpractice with respect to the bank transactions shall be taken under strict surveillance. </p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p><strong>d)Prohibitions</strong></p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p>Any and every customer is prohibited from using the content from our website in order to participate in any sorts of unlawful acts. It is against the company policy to copy or forward information from the website to pass unsolicited false information and fake offers. The content in no way should be utilized as a means to discriminate based on any criteria or to in fringe upon the rights of citizens of the world. No sort of spam, pretext, spider or scrape shall be accepted. Our firm holds the right to terminate a customer’s right to service in case of observation of any of the above mentioned violations.</p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p><strong>e)Contact information</strong></p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p>The website contains contact information of necessary locations and personnel. Under certain situations, we do not hold any obligation to respond to the calls, messages, and mails and are not unanswerable to any of the customers for not responding right away. We hold the duty to solve your issues but in no way does it imply our obligation to be a call or a text away in any given time and date.</p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
  






          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
      </div>
    </section>



    <!-- include header -->
    <%- include('includes/_footer') %>
        <!-- /include header -->
