<!-- include header -->
<%- include('includes/_header') %>
    <!-- /include header -->
    <!--
        ==================================================
            Global Page Section Start
        ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Why TWN ??</h2>
                        <ol class="breadcrumb list-inline text-center">
                            <li class="list-inline-item">
                                <a href="/">
                                    <i class="ion-ios-home"></i> Home &nbsp; &nbsp;/
                                </a>
                            </li>
                            <li class="active list-inline-item">Why TWN</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
==================================================
    Company Description Section Start
================================================== -->
<br><br>

    <!--
==================================================
    Company Feature Section Start
================================================== -->
    <section class="about-feature clearfix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 px-0">
                    <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s" style="height:100%;width:100%;">
                        <h2 style="text-align:center;">
                            <br> QUICK & EASY
                        </h2><br>
                        <p style="text-align:center;">
Book from any mechanic near to you based on their previous reviews and experience for a hassle free experience
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 px-0">
                    <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s" style="height:100%;width:100%;">
                        <h2 class="item_title" style="text-align:center;">
                            <br> PICK UP & DROP
                        </h2><br>
                        <p style="text-align:center;">
                        Get a free pick up and drop to avoid long waiting hours at garage
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 px-0">
                    <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s" style="height:100%;width:100%;">
                        <h2 class="item_title" style="text-align:center;">
                            <br>WARRANTY
                        </h2><br>
                        <p style="text-align:center;">
                          Get 7 days warranty on your service as we don’t transfer your payments to mechanics till the 7th day or before you give us a confirmation
                        </p>
                    </div>
                </div>


                <div class="col-lg-4 px-0">
                    <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s" style="height:100%;width:100%;">
                        <h2 class="item_title" style="text-align:center;">
                            <br> TRUST & SAFETY
                        </h2><br>
                        <p style="text-align:center;">
                            Now you finally know from whom you are getting your vehicle fixed , attention to values and ethics are very important to us

                        </p>
                    </div>
                </div>
                <div class="col-lg-4 px-0">
                    <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s" style="height:100%;width:100%;">
                        <h2 class="item_title" style="text-align:center;">
                            <br> TROUBLE–FREE PAYMENTS
                        </h2><br>
                        <p style="text-align:center;">
                            No confusion & billing options available which are suitable for every one of our customer . Choose among credit or debit cards , UPI & paytm


                    </div>
                </div>

                <div class="col-lg-4 px-0">
                    <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s" style="height:100%;width:100%;">
                        <h2 style="text-align:center;">
                            <br> SUPPORT
                        </h2><br>
                        <p style="text-align:center;">
                        Get support from our dedicated team who are always available to assist you
                            <br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <br><br><br>







    <br><br><br>








    <!-- include footer -->
    <%- include('includes/_footer') %>
        <!-- /include footer -->
